/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-7-8, 15:58:27
    Author     : Susan
*/

body{
  margin:auto;
  width: 1300px; 
  background-image: url(background.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
}

#traverse{
    margin:0px;
    width:100%;
    height:40px;
    background-color:rgba(255,255,255,0.3);
    padding:0px;
}
#traverse a{
    text-decoration: none;
}
#traverse ul{
    list-style-type:none;
    text-align:center;
    margin:15px;
}
#traverse ul li{
    float:left;
    text-align:center;
    width:20%;
    font-size: 15pt; 
}

#header{
   margin:auto; 
   width: 100%; 
   height:200px;
   text-align:center;
   font-size: 20px;
   background-color:rgba(255,255,255,0.5);
}

#left{
    margin:auto;
    padding:0px;
    width:20%;
    height:800px;
    background-color: rgba(255,255,255,0.5);
    text-align:center;
    font-size:15px;
    font-family: Ariel;
    float:left;
    display:inline;
}

#right{
    margin:auto;
    padding:0px;
    width:80%;
    height:800px;
    float:left;
    display:inline;
}

#footer{
    margin: auto;
    padding:0px;
    width:100%;
    height:60px;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    float:left;
}